button {
  background-color: rgb(251, 151, 1);
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-family: 18px;
  font-weight: 600;
}
a:hover {
  color: rgba(0, 0, 0, 0.687);
}

body{
  margin: 0px 3rem;
}